.heading1 {
	font-size: 30px;
	margin: 10px 60px;
	color: #0053a6;
}
.heading1 {
	font-size: 30px;
	margin: 10px 60px;
	color: #0053a6;
}

.heading2 {
	font-size: 21px;
	margin: 0 0 15px;
	color: #0053a6;
}